body {
    font-family: sans-serif;
    text-align: center;
}

.fa-house {
    color: blue;
    font-size: 2rem;
}

.fa-rss {
    color: orange;
}

.fa-mobile {
    color: gray;
    font-size: 3rem;
}

.fa-youtube {
    color: red;
    font-size: 2rem;
}

.fa-leaf {
    color: greenyellow;
}